name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

permissions:
  contents: write

env:
  GAME_EXECUTABLE_NAME: catpaw
  GAME_OSX_APP_NAME: CatPaw
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  build-macos:
    name: Build macOS
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - target: aarch64-apple-darwin
            suffix: _Silicon
          - target: x86_64-apple-darwin
            suffix: _Intel
    env:
      MACOSX_DEPLOYMENT_TARGET: 11.0
    steps:
      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.target }}
      - name: Build release
        run: |
          SDKROOT=$(xcrun -sdk macosx --show-sdk-path) cargo build --release --target=${{ matrix.target }}
      - name: Create release
        run: |
          APP_NAME="${{ env.GAME_OSX_APP_NAME }}"
          EXECUTABLE_NAME="${{ env.GAME_EXECUTABLE_NAME }}"
          STAGING="build/macos/staging"
          rm -rf "$STAGING"
          mkdir -p "$STAGING"
          cp -r "build/macos/src/${APP_NAME}.app" "$STAGING/"
          cp "target/${{ matrix.target }}/release/${EXECUTABLE_NAME}" "$STAGING/${APP_NAME}.app/Contents/MacOS/"
          strip "$STAGING/${APP_NAME}.app/Contents/MacOS/${EXECUTABLE_NAME}"
          ln -s /Applications "$STAGING/"
          hdiutil create -fs HFS+ -volname "${APP_NAME}" -srcfolder "$STAGING" "${EXECUTABLE_NAME}${{ matrix.suffix }}.dmg"
      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.GAME_EXECUTABLE_NAME }}${{ matrix.suffix }}.dmg
          asset_name: ${{ env.GAME_EXECUTABLE_NAME }}_${{ steps.tag.outputs.tag }}${{ matrix.suffix }}.dmg
          tag: ${{ github.ref }}
          overwrite: true

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Build release
        run: |
          cargo build --release
      - name: Zip release
        uses: vimtor/action-zip@v1
        with:
          files: target/release/${{ env.GAME_EXECUTABLE_NAME }}.exe
          dest: ${{ env.GAME_EXECUTABLE_NAME }}_windows.zip
      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.GAME_EXECUTABLE_NAME }}_windows.zip
          asset_name: ${{ env.GAME_EXECUTABLE_NAME }}_${{ steps.tag.outputs.tag }}_windows.zip
          tag: ${{ github.ref }}
          overwrite: true
